{% extends "home.html" %}
{% block content %}
<body>
  <table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
      <tr>
          <td>
              <h1 style="font-size: 24px; font-weight: bold; text-transform: uppercase; color: #444444 !important; margin: 0px; padding: 0px;">
                 {{name}}
              </h1>
            
          </td>
          <td rowspan="2">
              <img src="{{image}}" alt="season"/>
          </td>
      </tr>
      <tr>
          <td>
            {{stats | safe }}
          </td>
      </tr>
      <tr>
        <td colspan=2>
          <img src="{{image1}}" alt="decomposition"/>
        </td> 
      </tr>
      <tr>
        <td colspan=2>
          <img src="{{image2}}" alt="decomposition"/>
        </td> 
      </tr>
      <tr>
        <td colspan=2>
          <img src="{{image5}}" alt="stat"/>
          </td>
      </tr>
      <tr>
        <td colspan=2>
        <img src="{{image3}}" alt="acf"/>
        </td>
      </tr>
      <tr>
        <td colspan=2>
          <img src="{{image4}}" alt="pacf"/>
          </td>
      </tr>
      <tr>
        <td colspan=2>
          <h2> ARIMA model parameters</h2>
          <form action="http://localhost:5000/stock/{{name}}" method="post">
            <label for="p">Number of time lags p:</label><br>
            <input type="text" id="p" name="p" value="1"><br>
            <label for="q">Order of moving average model q:</label><br>
            <input type="text" id="q" name="q" value="1"><br><br>
            <input type="submit" value="Submit">
          </form> 
        </td>
      </tr>
      {% if p %}
      <tr>
        <td rowspan=2>
          {{predictions | safe}}
        </td>
        <tr>
          <td>
            <img src="{{image6}}" alt="pacf"/>
          </td>
        </tr>
      </tr>
      {% endif %}
  </table>
</body>
<section>
{% endblock %}


